<h2><%= @restaurant.name %></h2>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong> <em><%= @restaurant.phone_number %></em></p>
<p><strong><%= @restaurant.category %></strong></p>
<%= link_to 'see all', restaurants_path %>
